@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-sm-4">
        <div class="card text-white bg-primary mb-3 shadow" style="cursor:pointer" onclick="navigateToNewStories()">
            <div class="card-body">
                <h4 class="card-title">New Stories</h4>
                <p class="card-text">Up to 500 new stories</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card text-white bg-primary mb-3 shadow" style="cursor:pointer" onclick="navigateToTopStories()">
            <div class="card-body">
                <h4 class="card-title">Top Stories</h4>
                <p class="card-text">Up to 500 top stories</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card text-white bg-primary mb-3 shadow" style="cursor:pointer" onclick="navigateToBestStories()">
            <div class="card-body">
                <h4 class="card-title">Best Stories</h4>
                <p class="card-text">Up to 500 best stories</p>
            </div>
        </div>
    </div>
</div>
